* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    font-size: 82.5%;
}

/* navbar content styling */
.banner-section{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.86),rgba(35, 131, 196, 0.2)), 
     url('../img/rest.jpg');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    
 }
 /* navbar body div */
.navbar {
    display: flex;
    justify-content: space-between; 
    position: fixed;
    width: 100%;
    background: #5f5f5f;
}
/* ositu meal styling */
.navbar-brand {
    margin: -0.9rem 0;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;


}
/* ositu meal styling */
.nav-bar{
    text-decoration: none;
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
    padding: 0.6rem;
    
}

/* navigation style */
.navigation{
    display: flex;
    text-transform: capitalize;
    font-family: 'Oranienbaum', serif;
    font-size: 1.2rem;
}
/* navbar li stying */
.nav{
    display: flex;
    padding: 1rem;
    
}
li a{
    color: #fff;
    text-decoration: none;
}

.active, .nav:hover{
    background-color: goldenrod;
    color: white;   
}




/* header styling */
.text-box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* header styling */
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    font-family: 'Berkshire Swash', cursive;
}
/* header styling */
.heading-primary-main{
    display: block;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* margin-bottom: 15px; */
}
/* header styling */
.heading-primary-sub{
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.84rem;
    animation: moveInRight 1s ease-out;
}

/* button styling */
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}
/* button styling */
.btn-white{
    background: #fff;
    color:#777;
    padding: 1.5rem 4rem;
    display: inline-block;
}
/* button styling */
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
/* button styling */
.btn:active{
    transform: translateY(1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
/* button styling */
.btn:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
/* button styling */
.btn-white::after{
    background: #fff;
}
/* button styling */
.btn-hover::after{
    transform: scale(1.5);
    opacity: 0;
}
/* button styling */
.btn-animated{
    animation: moveInButtom .5s ease-out .75s;
    animation-fill-mode: backwards;
}


 @keyframes moveInButtom {
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }
    80% {
        transform: translateX(1rem)
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}
/* transition animation */

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }
    80% {
        transform: translateX(-2rem)
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}

/* container holding main section */
.container{
    padding: 40px;
}

/* grid styling for the cards */
.grid2{
    margin: 20px;
    padding: 10px;
    border: 5px;
    margin-bottom: 30px;
}
/* cards menu styling */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    transition: 0.4s;
    width: 100%;
    background: #fff;
    text-align: center;
    font-size: 10px;
    display: block;
    
}

/* order menu */
.order{
    text-decoration: none;
    color: goldenrod;
    background: #5f5f5f;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    margin-top: 5px;
    text-transform: capitalize;
}
.order:hover{
    background: goldenrod;
    color: #fff;
}

/* order menu content styling */
.container{
    padding: 2px 4px;
    text-transform: uppercase;
    text-decoration-color: gray; 
    font-family: 'Vidaloka', serif;
    /* text-align: justify; */
}

/* order menu order */
.add-menu{
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    text-align: justify;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
}
/* order menu styling */
.menu2 {
    font-size: 20px;
    margin-top: 7%;
    color: goldenrod;
    font-family: 'Tangerine', cursive;
}
/* footer styling */
.foot{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
	font-size:15px;
    background: #000;
    font-family: 'Tangerine', cursive;
    color: goldenrod;

}
/* footer padding  */
footer {
    padding-top: 50px;
}
/* footer ul and li stying  */
ul.footer li {
	display: inline;
    padding: 10px;	
    
}
/* clear float */
.clear-fix{
    display: block;
    clear: both;
}



/* media query */
@media only screen and(min-width:1024px){
 .wrapper{
     background: blue;
     font-size: 30%;
 }
}
